html,
body,
#root {
  box-sizing: border-box;
  background-color: #FFFFFF;
}

html,
body {
  height: 100%;
}

body {
  margin: auto;
  font-family: Roboto, Arial, sans-serif;
  background-color: #DCDEE2;
}

.background {
  background-color: #FFFFFF;
}

.layout {
  max-width: 90vw;
  width: 100%;
  display: flex;
  margin: 'auto';
  flex-direction: column;
  justify-content: center;
  align-content: center;
  justify-self: center;
  justify-items: center;
  text-justify: auto;

}

.layout .child {
  flex: 1;
  margin: 'auto';
  flex-direction: column;
  justify-content: center;
  align-content: center;
  justify-self: center;
  justify-items: center;
  text-justify: auto;

}

.active {
  font-weight: bold;
  color: blue;
}